
@{
    ViewBag.Title = "ProcessingCash";
}

<h2>Choose your agent name</h2>
@using (Html.BeginForm("Cash", "OrderCart", FormMethod.Post))
{
    <div class="form-group">
        <label for="agents">Agent</label>
        @Html.DropDownList("AgentName", new SelectList(ViewBag.Agents, "AgentID", "AgentName"), new { @class = "form-control", id = "agents" })
    </div>
    <button type="submit" class="btn btn-success">Cash</button>
    <button type="button" class="btn btn-info vnpay">VN Pay</button>
    <button type="button" class="btn btn-purple momo">Momo</button>
    <button type="button" class="btn btn-purple paylater">Pay Later</button>
}

@section Scripts {
    <script>
        $(document).ready(function(){
            $('.momo').click(function(){
                $('form').attr('action', '@Url.Action("Momo", "OrderCart")');
                $('form').submit();
            });
            $('.vnpay').click(function(){
                $('form').attr('action', '@Url.Action("VNPay", "OrderCart")');
                $('form').submit();
            });
            $('.paylater').click(function(){
                $('form').attr('action', '@Url.Action("PayLater", "OrderCart")');
                $('form').submit();
            });
        });
    </script>
}

