@{ 
    Layout = null;
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodRecived</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>PRODUCTS</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_id">Product Name</label>
            <div class="col-md-4">
                <input id="name" name="name" placeholder="Product Name" class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Product Price</label>
            <div class="col-md-4">
                <input id="price" name="price" placeholder="Product Price" class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="available_quantity">Product Quantity</label>
            <div class="col-md-4">
                <input id="quantity" name="quantity" placeholder="Product Quantity" class="form-control input-md" required="" type="text">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4 text-center">
                <button id="add" name="add" class="btn btn-primary">Add Product</button>
            </div>
        </div>

    </fieldset>
</form>

<div class="row d-flex">
    <div class="col-md-4 flex-column mx-auto">
        <h2>Go to cart</h2>
        <p>Click here if you want to go to cart</p>
        <p><a class="btn btn-success" href="/Products/Index">Go to Product &raquo;</a></p>
    </div>
    <div class="col-md-4 flex-column mx-auto">
        <h2>Buy product</h2>
        <p>Click here if you want to buy product</p>
        <p><a class="btn btn-primary" href="/Distributor/GoodDelivery">Go to Delivery Note &raquo;</a></p>
    </div>
    <div class="col-md-4 flex-column mx-auto">
        <h2>View status your order</h2>
        <p>Click here if you want to see your status order.</p>
        <p><a class="btn btn-warning" href="/Distributor/GoodView">Go to View &raquo;</a></p>
    </div>
</div>