
@{
    Layout = "~/Views/Shared/_LayoutDistributor.cshtml";
}

<h2>In_Out</h2>

<div class="col-md-4 flex-column mx-auto">
    <h2>View</h2>
    <p>Click here if you want to view statistics by month</p>
    <p><a class="btn btn-warning" href="/Distributor/Index">&laquo; Back</a></p>
</div>