@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>Distributor: </b>Nguyen Thanh Tai</p>
<p><b>Student ID: </b>521H0481</p>
<p><b>Phone: </b>0943339318</p>
</br>
<p><b>Agent: </b>Nguyen Tien Diep</p>
<p><b>Student ID: </b>521H0443</p>
<p><b>Phone: </b>0947986431</p>

<p>Our software provides an extra function to buy Supplement Facts</p>
